<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="icon" href="./public/APP_PROYECTO_FINAL/img/LOGO_APP.png" type="LOGO_APP.png" > -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actlineas.js"></script>
    <link rel="stylesheet" href="/css/boton.css">
    <link rel="stylesheet" href="/css/estiloss.css">
    <link rel="stylesheet" href="/css/tabla.css">
    <link rel="stylesheet" href="/css/primeraparte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <title> CREDITOS </title>

<body><header class="header">

    <div class="header-1">

        <a href="#" class="logo"> <i class="fas fa-car"></i>CONCESSIONAIRE </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>

    </div>

   

</header>
<header>
      
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>
<section class="form-registerr">
    
    <a></a>

    <form action="/frminsertartan " method="POST">

        <div><input  id=""   type="text" required   name="doccli"  class="controls" placeholder="DOCUMENTO "></div>
        <div><input  id=""   type="text" required   name="saldo"  class="controls" placeholder="SALDO"></div>
        <div><input  id=""   type="text" required   name="tipcred"  class="controls" placeholder="T.CREDITO"></div>
        <div><input  id=""   type="text" required   name="nomlinea"  class="controls" placeholder="SALDO"></div>
        <div><input  id=""   type="text" required   name="estado"  class="controls" placeholder="T.CREDITO"></div>

     
        <td><input  type="submit"  value="INGRESAR" name="btnact" id="btnact"   class="botons" class="controls"     ></td>
</form>
</section>
<thead> 
<div id="titulo">
    <section class="form-register">
        <form action="" none="frm" id="frm">
<table id="tabla" >	
        <tr>

        <td> DOCUMENTO  </td>
        <td> SALDO</td>
        <td> T.CREDITO </td>
        <td> SALDO</td>
        <td> T.CREDITO </td>
        
        
       

        <td> ACTUALIZAR</td>
        <td> ELIMINAR</td>

<tbody>
<% datos.forEach(function(datos) { %>

<tr></tr>

<td><input   type="text"  value="<%=datos.doccli%>"         id="nomm"       class="nomm"  ></td>
<td><input   type="text"  value="<%=datos.saldo%>"         id="ve"       class="ve"  ></td>
<td><input   type="text"  value="<%=datos.tipcred%>"          id="rl"       class="rl"  ></td>
<td><input   type="text"  value="<%=datos.nomlinea%>"         id="e"       class="e"  ></td>
<td><input   type="text"  value="<%=datos.estado%>"          id="l"       class="l"  ></td>

<td><input  type="submit"  value="actualizar" name="btnact" id="btnact"   class="btnact"    class="form-control"  ></td>
<td><input  type="submit"  value="eliminar "  name="btnelit" id="btnelit"   class="btnelit"    class="form-control" ></td>
<%})%> 
</tbody>

</table>
</section>

</head>
</form> 